.footer-main {
    background-color: white;
    color: rgb(83, 83, 83);
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}