
* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.main {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 100vw;
}
.headerbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    background-color: white;
}

.headerbar-main-searchbox {
    display: flex;
    flex-direction: column;
}

.headerbar-main-searchbox-component {
    padding: 10px;
    margin: 0px 10px;
}

.search-buttonset {
    margin-top: 5px;
}

.search-buttonset > button {
    padding: 5px 7px;
    margin: 0px 2px;
    border-radius: 10px;

}

.main {
    max-width: 100vw;
}

.logo-headerbar {
    width: 100px;
    height: 100px;
}

.headerbar-main-searchbox input {
    border-radius: 20px;
}

.headerbar-main-searchbox {
    margin-right: 50px;
}